<%= error_messages_for 'tag' %>

<!--[form:tag]-->
<p><label for="tag_name">Name</label><br/>
<%= text_area 'tag', 'name'  %></p>

<p><label for="tag_created_at">Created at</label><br/>
<%= datetime_select 'tag', 'created_at'  %></p>
<!--[eoform:tag]-->

